POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=postgres

SBI_DATABASE_URL=postgresql://postgres:your_password@localhost:5432/sbi_db
AXIS_DATABASE_URL=postgresql://postgres:your_password@localhost:5432/axis_db
IOB_DATABASE_URL=postgresql://postgres:your_password@localhost:5432/iob_db
